<!DOCTYPE html>
        <!--============ Start Navbar ============-->
        <nav class="navbar fixed-top text-center">
            <div class="navbar-container">
                <div class="heading">
                    <div class="logo">
                        <a class="navbar-brand" href="#">
                            <img class="img-fluid" src="{{ base_url() }}/images/logo.png" alt="logo">
                        </a>
                    </div>
                </div>

                <div class="nav-content">

                    <div class="top-nav">

                        <div class="title">
                            <p>Brands</p>
                        </div>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <span class="icon"><i class="fas fa-th-large"></i></span>
                                <a class="nav-link" href="/public/brands">Brands</a>
                            </li>
                            <li class="nav-item">
                                {#fas fa-home far fa-gem#}
                                {##}
                                <span class="icon"><i class="fas fa-home"></i></span>
                                <a class="nav-link" href="/public/stores">Stores</a>
                            </li>

                            <li class="nav-item">
                                <span class="icon"><i class="fas fa-newspaper"></i></span>
                                <a class="nav-link" href="/public/brand_news">News</a>
                            </li>

                        </ul>

                        <div class="title">
                            <p>Users</p>
                        </div>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                {#fas fa-th-large#}
                                <span class="icon"><i class="fas fa-user-circle"></i></span>
                                <a class="nav-link" href="/public/users">Users</a>
                            </li>

                            <li class="nav-item">
                                {#fas fa-home far fa-gem#}
                                <span class="icon"><i class="fas fa-user"></i></span>
                                <a class="nav-link" href="/public/customers">Customers</a>
                            </li>
                        </ul>

                    </div>

                    {#<div class="top-nav">#}

                        {#<div class="title">#}
                            {#<p>Users</p>#}
                        {#</div>#}
                        {#<ul class="navbar-nav">#}
                            {#<li class="nav-item">#}
                                {#fas fa-th-large#}
                                {#<span class="icon"><i class="fas fa-user-circle"></i></span>#}
                                {#<a class="nav-link" href="/public/users">Users</a>#}
                            {#</li>#}

                            {#<li class="nav-item">#}
                                {#fas fa-home far fa-gem#}
                                {#<span class="icon"><i class="fas fa-user"></i></span>#}
                                {#<a class="nav-link" href="/public/customers">Customers</a>#}
                            {#</li>#}
                        {#</ul>#}

                    {#</div>#}

                    <div class="bottom-nav">
                        <div class="title">
                            <p>Other</p>
                        </div>
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <span class="icon"><i class="fas fa-bullhorn"></i></span>
                                <a class="nav-link" href="/public/vouchers">Vouchers</a>
                            </li>




                            {#<li class="nav-item">#}
                                {# --  far fa-calendar-check #}
                                {#<span class="icon"><i class="fas fa-user-circle"></i></span>#}
                                {#<a class="nav-link" href="/public/customers">Customers</a>#}
                            {#</li>#}


                            <li class="nav-item">
                            <span class="icon"><i class="far fa-gem"></i></span>
                            <a class="nav-link" href="/public/program">Programs</a>
                            </li>


                            <li class="nav-item">
                            <span class="icon"><i class="fas fa-cog"></i></span>
                            <a class="nav-link" href="/public/setting">SETTINGS</a>
                            </li>

                            <li class="nav-item nav-canvas">

                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </nav>

        <!--============ End Navbar ============-->

        <!--============ Start Header ============-->
        <section class="header">
            <div class="row no-gutters">
                <div class="search-container">
                    <div class="icon">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="text-field">
                        <label for="search"><em>Search for something..</em></label>
                        <input type="text" id="search">
                    </div>
                </div>
                <div class="user-options">
                    <div class="add-btn text-right">
                        <button type="button">
                            <span><i class="far fa-edit"></i></span>
                            Add New Place
                        </button>
                    </div>
                    <div class="user-icons text-center">
                        <div class="notification-container">
                            <span class="icon">
                                <i class="far fa-bell"></i>
                            </span>
                            <div class="notification-dropdown">
                                <div class="noti-content row no-gutters text-left">
                                    <div class="col-12 heading text-center">
                                        <p>Notification</p>
                                    </div>
                                    <div class="col-12 body">
                                        <a class="notification" href="#">
                                            <span class="icon"><i class="fas fa-user-plus fa-fw"></i></span>
                                            <p class="text">
                                                <span class="bold">Safari </span>
                                                Joined your
                                                <span class="bold"> English Speaking </span>
                                                course
                                            </p>
                                            <span class="time">JUST NOW</span>
                                        </a>
                                        <a class="notification" href="#">
                                            <span class="icon"><i class="fas fa-heart fa-fw"></i></span>
                                            <p class="text">
                                                <span class="bold">Johan </span>
                                                Liked your
                                                <span class="bold"> English Writing </span>
                                                course
                                            </p>
                                            <span class="time">15 minutes ago</span>
                                        </a>
                                        <a class="notification" href="#">
                                            <span class="icon"><i class="fas fa-comment fa-fw"></i></span>
                                            <p class="text">
                                                <span class="bold">Sara </span>
                                                Comment on your
                                                <span class="bold"> English Writing </span>
                                                course
                                            </p>
                                            <span class="time">2 hours ago</span>
                                        </a>
                                        <a class="notification" href="#">
                                            <span class="icon"><i class="fas fa-graduation-cap fa-fw"></i></span>
                                            <p class="text">
                                                <span class="bold">Axe </span>
                                                Finished your
                                                <span class="bold"> English Spelling </span>
                                                course
                                            </p>
                                            <span class="time">Yesterday</span>
                                        </a>
                                        <a class="notification" href="#">
                                            <span class="icon"><i class="fas fa-users fa-fw"></i></span>
                                            <p class="text">
                                                <span class="bold">Sam</span>
                                                Followed you
                                            </p>
                                            <span class="time">2 days ago</span>
                                        </a>
                                    </div>
                                    <div class="col-12 footer text-center">
                                        <a href="#">View all</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="msg-container">
                            <span class="icon">
                                <i class="far fa-comments fa-fw"></i>
                            </span>
                            <div class="msg-dropdown text-center">
                                <div class="heading">
                                    <p>Messages</p>
                                </div>
                                <div class="msg-body text-left">
                                    <div class="message">
                                        <div class="msg-img">
                                            <img class="img-fluid" src="{{ base_url() }}/images/people1.jpg">
                                        </div>
                                        <div class="msg-text">
                                            <p>Hello john how are you?</p>
                                            <span class="msg-time">JUST NOW</span>
                                        </div>
                                    </div>
                                    <div class="message">
                                        <div class="msg-img">
                                            <img class="img-fluid" src="{{ base_url() }}/images/people2.jpg">
                                        </div>
                                        <div class="msg-text">
                                            <p>I am looking forward to hearing from you.</p>
                                            <span class="msg-time">2 hours ago</span>
                                        </div>
                                    </div>
                                    <div class="message">
                                        <div class="msg-img">
                                            <img class="img-fluid" src="{{ base_url() }}/images/people3.jpg">
                                        </div>
                                        <div class="msg-text">
                                            <p>Great course!</p>
                                            <span class="msg-time">Yesterday</span>
                                        </div>
                                    </div>
                                    <div class="message">
                                        <div class="msg-img">
                                            <img class="img-fluid" src="{{ base_url() }}/images/people4.jpg">
                                        </div>
                                        <div class="msg-text">
                                            <p>Thank you so much</p>
                                            <span class="msg-time">2 days ago</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="show-hide-menu">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt fa-fw"></i>
                            </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-name">
                            {#<p>Islam</p>#}
                            <p>{{user}}</p>

                            <span class="icon"><i class="fas fa-sort-down"></i></span>
                            <div class="user-dropdown">
                                <div class="option">
                                    <span class="icon"><i class="fas fa-user fa-fw"></i></span>
                                    <p>Profile</p>
                                </div>
                                <div class="option">
                                    <span class="icon"><i class="fas fa-cog"></i></span>
                                    <p>Settings</p>
                                </div>
                                <div class="option">
                                    <span class="icon"><i class="fas fa-question"></i></span>
                                    <p>Help</p>
                                </div>
                            </div>
                        </div>
                        <div class="user-img">
                            <img class="img-fluid" src="{{ base_url() }}/images/user.jpg">
                        </div>
                    </div>
                    <div class="log-options text-right">
                        <div class="log-out">
                            <a href="/public/logout" class="icon">
                                <i class="fas fa-power-off fa-fw"></i>
                            </a>
                        </div>
                        <div class="state">
                            <span class="icon">
                                <i class="fas fa-user fa-fw"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </section>
